@charset 'utf-8';

/* 重置
========================================================================== */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
header,
hgroup,
nav,
section,
article,
aside,
footer,
figure,
figcaption,
menu,
button {
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
}
a,
img {
  -webkit-touch-callout: none;
}
body {
  margin: 0 auto;
  /*max-width: 6.4rem;*/
  font-family: '微软雅黑', 'Microsoft YaHei' Helvetica, STHeiTi, Sans-serif;
  line-height: 1.5;
  font-size: .28rem;
  color: #000;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  outline: 0;
  overflow-x: hidden;
  letter-spacing: -.05em;
  -webkit-user-select: none;
}
/*@media only screen and (min-device-width: 1280px) and (orientation: landscape) {*/
@media only screen and (orientation: landscape) {
  html {
    /*font-size: 100px !important;*/
    height: 100%;
  }
  body {
    position: relative;
    max-width: 640px;
    min-height: 100%;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
li {
  list-style: none;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  outline: none;
  -webkit-appearence: none;
  -ms-appearence: none;
}
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"]{
  border: none;
  background: none;
  -webkit-appearance: none;
  outline: none;
}
a {
  /*-webkit-touch-callout:none;*/
  text-decoration: none;
  outline: 0;
}
em,i {
  font-style: normal;

}
::-webkit-input-placeholder {
  color:#999;
}

/* public */
.box { -webkit-box-sizing:border-box; box-sizing:border-box; }

.wrapper {
  padding-top: .88rem;
  font-family: '微软雅黑';
  /*width: 6.4rem;*/
  min-width: 3.2rem;
  margin: 0 auto;
  color: #3f2e27;
  overflow-x: hidden;
  /*z-index: 4;*/
}
/*section {
  padding-top: .88rem;
  font-family: '微软雅黑';
  width: 6.4rem;
  min-width: 3.2rem;
  margin: 0 auto;
  color: #3f2e27;
  z-index: 4;
  background: #f0eff5;
}*/

/* 导航栏 */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 990;
  /*width: 6.4rem;*/
  height: .88rem;
  line-height: .88rem;
  background-color: #f8f8f8;
}
nav button {
  position: absolute;
  left: .3rem;
  top: 50%;
  color: #2b2b2b;
}
nav button.menu {
  margin-top: -.15rem;
  color: #2b2b2b;
}
nav button.back,
nav button.newBack {
  margin-top: -.16rem;
}
nav button.back:after,
nav button.newBack:after {
  content: '返回';
  font-size: .3rem;
}
nav .menu img {
  width: .42rem;
  height: .3rem;
}
nav .back img,
nav .newBack img {
  width: .15rem;
  height: .28rem;
  margin-right: .1rem;
  margin-bottom: -.02rem;
}
nav .newBack img {
  margin-bottom: .05rem;
}
nav .newBack .arrows_left {
  display: inline-block;
  width: .15rem;
  height: .28rem;
  margin-right: .1rem;
  margin-top: .05rem;
  background: url(../image/icon_sprites.png) 0 -.8rem no-repeat;
  background-size: 1.6rem 1.2rem;
}
nav .title {
  text-align: center;
  font-size: .36rem;
  color: #2b2b2b;
}
nav .title small {
  font-size: .24rem;
}

/* 通用导航栏 */
.g-navbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: .88rem;
  overflow: hidden;
  font-size: .3rem;
  color: #2b2b2b;
  border-bottom: 1px #DFDFDF solid;
  background: #f8f8f8;
}
.g-navbar > .title {
  text-align: center;
  font-size: .36rem;
}
.g-navbar > .title > small {
  font-size: .24rem;
}
.g-navbar > .back,
.g-navbar > .menu {
  position: absolute;
  top: 0;
  height: 100%;
  white-space: nowrap;
}
.g-navbar > .back {
  left: .3rem;
}
.g-navbar > .menu {
  right: .3rem;
}
.g-navbar > .suggest {
  right: 0;
  width: .56rem;
  background: url(../image/icon_customer.png) right .3rem top 50% no-repeat;
  background-size: .26rem;
}

/* 通用页脚栏 */
.g-footbar {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 .3rem;
  border-top: 1px #F1F1F1 solid;
  background: #FDFDFD;
  letter-spacing: normal;
}
.g-footbar .btn {
  font-size: .36rem;
}

/* 通用换标签 */
.g-tab {
  position: fixed !important;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  font-size: 0;
  border-bottom: 1px solid #e1e1e1;
  background: #f8f8f8;
}
.g-tab::before {
  content: '';
  position: absolute;
  bottom: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  height: .05rem;
  background: #ff9402;
  border-left: .3rem #f8f8f8 solid;
  border-right: .3rem #f8f8f8 solid;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.g-tab.start::before {
  left: 0;
}
.g-tab.end::before {
  left: 50%;
}
.g-tab > a {
  position: relative;
  display: inline-block;
  width: 50%;
  height: .75rem;
  line-height: .75rem;
  text-align: center;
  color: #000;
  font-size: .28rem;
}
.g-tab > a.on {
  color: #ff9402;
}

.ddb_btn {
  margin: 0 auto;
  width:1.4rem;
  height: .54rem;
  line-height: .54rem;
  font-size: .24rem;
  text-align: center;
  border: 1px solid #bebebe;
}

.ddb-btn {
  text-align: center;
  background-color:#ffd941;
  border: 0;
}
.ddb-btn:hover {
  background-color:#ecc93b;
  border: 0;
}

/*两列常用布局*/
.ddb_col2 {
  width:5.8rem;
}
.ddb_col2 .left {
  margin-left: .24rem;
  float:left;
}
.ddb_col2 .right {
  float:right;
}
.ddb_col2:after {
  clear:both
}
.showNone {
  display: none;
}
.navHide {
  display: none;
}
.navShow {
  display: block;
  position: relative;
}

/* 高德地图：去除版本等信息、样式自定义 */
.iconGps_bus { /* todo */
  width: .36rem;
}
.amap-logo,
.amap-copyright,
.amap-info-sharp,
.amap-info-close {
  display: none;
}
.amap-info-outer,
.amap-menu-outer {
  border: none;
}
.amap-info-outer:hover,
.amap-menu-outer:hover {
  box-shadow: 0 0 1px rgba(0, 0, 0, .5);
}
.amap-info-content {
  position: relative;
  bottom: .2rem;
  max-width: 8rem;
  padding: .08rem 0;
  line-height: 1.2;
  overflow: visible;
  border-radius: .1rem;
  box-shadow: 0 0 1px rgba(0, 0, 0, .5);
  background: rgba(255, 255, 255, .88);
}
.amap-info-content::after {
  content: '';
  position: absolute;
  bottom: -.39rem;
  left: 50%;
  margin-left: -.2rem;
  width: 0;
  height: 0;
  border: .2rem solid transparent;
  border-top-color: rgba(255, 255, 255, .88);
  /*border-top-color: #0ff;*/
  -webkit-transform: scaleX(.6);
  transform: scaleX(.6);
}
.amap-info-content .infoWrap table {
  width: 100%;
}
.amap-info-content .infoWrap td.left {
  position: relative;
  padding: 0 .2rem;
  border-right: 1px #e1e1e1 solid;
}
.amap-info-content .infoWrap td.left .name {
  font-size: .3rem;
  /*font-weight: bold;*/
  color: #2b2b2b;
}
.amap-info-content .infoWrap td.left .time {
  margin-top: .05rem;
  font-size: .2rem;
  font-weight: normal;
  color: #656565;
}
.amap-info-content .infoWrap td.tdRight {
  padding: 0 .1rem;
  vertical-align: middle;
  white-space: nowrap;
}
.amap-info-content .infoWrap td.tdRight .ctrl {
  display: inline-block;
  padding: 0 .1rem;
  font-size: .2rem;
  color: #929292;
}
.amap-info-content .infoWrap td.tdRight .icon {
  display: block;
  margin-bottom: .05rem;
  /*width: .32rem;*/
  height: .36rem;
  background: url(../image/icon_navigation.png) no-repeat center;
  background-size: contain;
}
.amap-info-content .infoWrap td.tdRight .realmap .icon {
  background: url(../image/icon_realmap.png) no-repeat center;
  background-size: .32rem .35rem;
}

/* 实景图 */
#ddbUi-realmap {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url(../image/reaimap_default.png) 50% no-repeat;
  background-size: cover;
}
#ddbUi-realmap h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: .25rem .2rem;
  background-color: rgba(0, 0, 0, .6);
  text-align: center;
  font-size: .46rem;
  /*height: 1.18rem;*/
  line-height: .6rem;
  color: #fff;
}
#ddbUi-realmap h3 small {
  display: block;
  font-size: .3rem;
}
#ddbUi-realmap h3 small:empty {
  display: none;
}

/* custom */
.ddbUi-lineMap {
  position: relative;
  width: 100%;
  height: 100%;
}
.ddbUi-lineMap .map {
  position: absolute;
  width: 100%;
  min-height: 100%;
}
.ddbUi-lineMap .leftSide .point_wrap {
  height: 6.8rem;
  overflow: auto;
  padding: 0 0 .2rem 0;
}
.ddbUi-lineMap .leftSide .point {
  padding: .13rem .26rem .13rem;
  height: .74rem;
}
.ddbUi-lineMap .leftSide .icon {
  display: inline-block;
  background: url(../image/line_sprites.png) no-repeat 0 0;
  -webkit-background-size: 3.3rem 1.85rem;
  background-size: 3.3rem 1.85rem;
  width: .24rem;
  height: .24rem;
  vertical-align: middle;
  margin-right: .1rem;
}
.ddbUi-lineMap .leftSide .icon.begin {
  background-position: 0 0;
}
.ddbUi-lineMap .leftSide .icon.beginPass {
  background-position: -.24rem 0;
}
.ddbUi-lineMap .leftSide .icon.endPass {
  background-position: -.48rem 0;
}
.ddbUi-lineMap .leftSide .icon.end {
  background-position: -.72rem 0;
}
.ddbUi-lineMap .leftSide .pointSelected {
  background-color: #636363;
}
.ddbUi-lineMap .leftSide .nameTimeWrap span {
  margin-right: .2rem;
  font-size: .24rem;
}
.ddbUi-lineMap .leftSide .address_wrap {
  font-size: .18rem;
  line-height: .24rem;
  height: .24rem;
  padding-top: .1rem;
}
.ddbUi-lineMap .leftSide .address_wrap .address {
  font-size: .18rem;
  vertical-align: middle;
  height: .24rem;
  line-height: .24rem;
}
.ddbUi-lineMap .leftSide .btn {
  position: absolute;
  left: 2.8rem;
  top: .8rem;
  width: .5rem;
  background-color: white;
  color: black;
  font-size: .28rem;
  line-height: .28rem;
  padding: .2rem .05rem;
  border: 1px solid #b4b4b4;
  border-left: none;
  border-radius: 0 5px 5px 0;
}
.ddbUi-lineMap .leftSide .btn span {
  display: inline-block;
  background: url(../image/line_sprites.png) no-repeat;
  -webkit-background-size: 3.3rem 1.85rem;
  background-size: 3.3rem 1.85rem;
  background-position: 0 -1.73rem;
  width: .12rem;
  height: .14rem;
  position: absolute;
  top: 50%;
  right: .1rem;
  margin-top: -.007rem;
}
.ddbUi-lineMap .leftSide.close .btn span {
  background-position: -.12rem -1.72rem;
}
.ddbUi-lineMap .mapButton {
  position: absolute;
  right: .3rem;
  top: .07rem;
  width: .66rem;
  height: 100%;
}
.ddbUi-lineMap .icon {
  background: url(../image/icon_navigation.png) no-repeat 0 0;
  -webkit-background-size: 3.3rem 1.85rem;
  background-size: .32rem .36rem;
}
.ddbUi-lineMap .mapButton .icon {
  display: block;
  width: .66rem;
  height: .66rem;
  margin-top: .06rem;
  vertical-align: middle;
}
.ddbUi-lineMap .mapButton .icon.reset {
  background-position: 0 -.24rem;
}
.ddbUi-lineMap .mapButton .icon.traffic {
  background-position: -.66rem -.24rem;
}
.ddbUi-lineMap .mapButton .icon.traffic.isShow {
  background-position: -1.32rem -.24rem;
}
.ddbUi-lineMap .mapButton .icon.zoomIn {
  background-position: -1.98rem -.24rem;
}
.ddbUi-lineMap .mapButton .icon.zoomOut {
  background-position: -2.64rem -.24rem;
}

/* 旧线路样式 */
.line { height: 1.68rem; background: #fff; margin-bottom: .2rem; overflow: auto; color: #2b2b2b; position: relative; }
.line .time { font-weight: bold; color: #2b2b2b; font-size: .3rem; margin-left: .24rem; margin-top: .15rem; line-height: .5rem; }
.line .place { margin-left: .24rem; font-size: .24rem; width: 3.7rem; }
.line .start { background-image: url(../image/line2.png); background-repeat: no-repeat; background-position: left center; background-size: .3rem .7rem; padding-left: .44rem; padding-bottom: .41rem }
.line .time span { font-size: .2rem; color: #7a7a7a; font-weight: normal; margin-left: .1rem; }
.line .time span:first-of-type { padding: 0 .08rem 0 .4rem; background: #ffd941 url('../image/icon_Line_card_logo.png').08rem center no-repeat; background-size: .26rem .2rem; border-radius: 2px; color: #2b2b2b; }
.line .time span:last-child { }
.line .end { margin-top: -.36rem; margin-left: .44rem }
.line_left { float: left; white-space: nowrap; overflow: auto; height: 1.68rem; }
.line_right { float: right; width: 1.5rem; position: absolute; top: 0; right: 0; }
.line .price { margin-top: .2rem; font-size: .3rem; color: #ff5000; font-weight: bold; text-align: right; padding-right: .2rem; }
.line .btn { background: none; margin-right: .2rem; height: .44rem; line-height: .44rem; margin-top: .35rem; font-size: .24rem; text-align: center; border: 1px solid #ff5000; border-radius: .1rem; color: #ff5000; }

/* ddb_popup start */
#ddb_popup {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1001;
  background-color: #efeff4;
  color: #222;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, .6);
  overflow: hidden;
}
#ddb_popup_mask {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  background-color: #222;
}
/* 隐藏空元素 */
#ddb_popup .popup-title:empty,
#ddb_popup .popup-content:empty,
#ddb_popup #ddb_popup_btn_container a:empty {
  display: none;
}
#ddb_popup .popup-title {
  color: #ff9e00;
  font-size: .36rem;
  text-align: center;
  padding: 0;
  margin: 0;
  height: .86rem;
  line-height: .86rem;
  border-bottom: 2px solid #ff9e00;
  letter-spacing: normal;
}
#ddb_popup .popup-tips-title {
  color: #222;
  font-size: .30rem;
  text-align: center;
  padding: 0;
  margin: 0;
  height: .9rem;
  line-height: .9rem;
  border-bottom: .04rem solid #ff9e00; /*background: url(../image/tips_icon.png) .35rem 50% no-repeat; background-size: .32rem;*/
  color: #ff9e00; /*text-indent: .35rem;*/
}
#ddb_popup .popup-tips-content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .44rem .3rem;
  font-size: .26rem;
  color: #444;
  text-align: justify;
  text-indent: 2em;
}
#ddb_popup .popup-content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .54rem .1rem;
  font-size: .3rem;
  color: #2b2b2b;
  text-align: center;
}
#ddb_popup_btn_container {
  text-align: center;
  margin: 0;
  display: -webkit-box;
  display: box;
  letter-spacing: normal;
}
#ddb_popup_btn_container > a {
  -webkit-box-flex: 1;
  box-flex: 1;
  padding: 0;
  display: block;
  color: #898989;
  border: 1px solid rgba(0, 0, 0, .2);
  border-left: none;
  border-bottom: none;
  font-size: .3rem;
  height: .89rem;
  line-height: .89rem;
}

/* #ddb_popup_btn_container > a:hover { color: #fff; background-color: #ff9e00; } */
#ddb_popup_btn_container > a:nth-child(2) {
  color: #fff;
  background-color: #ff9e00;
}
#ddb_popup.loading {
  /*background-color: #2C3E50;*/
  top: 50%;
  left: 50%;
  margin: -75px 0 0 -75px;
  opacity: .9;
  text-align: center;
  width: 150px;
  height: 150px;
  /*border-radius: 10px;*/
  /*background-image: url(../image/loading_bg.png);*/
  /*background-position: center center;*/
  /*background-repeat: no-repeat;*/
  /*background-size: 50%;*/
  /*zoom: .2;*/
  box-shadow: none;
  /*background-color: transparent;*/
  background: none;
}
#ddb_popup.loading i.icon {
  color: #fff;
}
#ddb_popup.loading i.icon {
  font-size: 4em;
  line-height: 110px;
  margin: 0;
}
#ddb_popup .icon.spinner {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url(../image/loading-coupon.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20%;
  -webkit-animation: spinner .8s infinite linear;
  animation: spinner .8s infinite linear;
}
#ddb_popup .popup-title.popup-title-coupon {
  color: #000;
  font-size: .3rem;
  border-bottom: none;
  line-height: 1.4rem;
}
#ddb_popup .popup-content.popup-title-coupon {
  padding-top: .35rem;
}
#ddb_popup .popup-title-coupon .input_wrap {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 .3rem;
  height: .87rem;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  border-radius: .2rem;
}
#ddb_popup .popup-title-coupon .input_wrap input {
  background: none;
  border: none;
  display: inline-block;
  padding: .22rem 0 0 .2rem;
  font-size: .36rem;
  line-height: .36rem;
}
#ddb_popup .popup-title-coupon  button.del {
  position: absolute;
  right: .1rem;
  top: .27rem;
  height: .33rem;
  width: .33rem;
}
#ddb_popup .popup-title-coupon  button.del img {
  width: 100%;
  height: 100%;
}
#ddb_popup .popup-content.oCity_select {
  padding: .53rem .4rem 0;
}
#ddb_popup .popup_tips {
  /*position: fixed; top: 3.28rem; left: 50%; margin-left: -2.71rem; width: 5.42rem; */padding: .1rem 0;
  background: rgba(0, 0, 0, .6); /* -webkit-transform: translateX(-50%);   transform: translateX(-50%); */
  z-index: 999;
  text-align: center;
  border-radius: .2rem;
}
#ddb_popup .popup_tips img {
  width: 1.5rem;
  height: 1.5rem;
  padding-top: .3rem;
  vertical-align: middle;
}
#ddb_popup .popup_tips .popup_tips_title {
  margin: .22rem 0 .2rem;
  font-size: .34rem;
  line-height: .34rem;
  color: #fff;
}
#ddb_popup .popup_tips .popup_tips_text1, #ddb_popup .popup_tips .popup_tips_text2 {
  font-size: .24rem;
  line-height: .24rem;
  line-height: .36rem;
  color: #fff;
}
/* ddb_popup end */

.showHidden{
  visibility: hidden;
}

/*.wrap { background: #f0eff5;}*/

/* 发起定制 */
.initiate_wrap {
  position: fixed;
  left: 0;
  bottom: 0;
  /*margin-left: -3.2rem;*/
  height: .98rem;
  width: 100%;
  /*border-top: 1px #E6E6E6 solid;*/
  box-shadow: 0 -1px 1px rgba(0, 0, 0, .08);
  background: #f8f8f8;
}
.initiate_wrap .initiate {
  height: .68rem;
  line-height: .68rem;
  border: 1px solid #D8D8D8;
  border-radius: .1rem;
  font-size: .3rem;
  color: #000;
  text-align: center;
  margin: .15rem .3rem;
}
.initiate_wrap .prompt {
  position: absolute;
  top: -.8rem;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: .26rem;
  color: #2b2b2b;
}
.initiate_wrap .prompt i {
  display: inline-block;
  width: .58rem;
  height: .66rem;
  padding-right: .1rem;
  background: url(../image/icon_prompt.png)0 0 no-repeat;
  background-size: .58rem .66rem;
  vertical-align: middle;
}
.initiate_wrap .prompt span {
  vertical-align: middle;
}

.empty_box {
  width: 6.4rem;
  margin: 0 auto;
  text-align: center;
  padding-top: 2.5rem;
  letter-spacing: normal;
}
.empty_box img {
  width: 1.9rem;
  height: 1.45rem;
}
.empty_box p {
  font-size: .28rem;
  color: #bfbfbf;
  padding-top: .2rem;
}

.tips { height: .5rem;  text-align: center; font-size: .2rem; color:#9c9c9c; line-height: .5rem;}

/* helper
========================================================================== */
/*.ms-controller,.ms-important,[ms-controller],[ms-important]{
  visibility: hidden;
}*/
[invisible],
.invisible {
  visibility: hidden !important;
}
[ms-controller] [hidden],
.hidden {
  display: none !important;
}

/* Retina 屏实现真正 1px 的线，四条线最多可同时用两条 */
@media only screen and (-Webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
  .hairlines-top,
  .hairlines-bottom {
    position: relative;
    /*border-bottom-color: transparent !important;*/
  }
  .hairlines-top {
    border-top-color: transparent !important;
  }
  .hairlines-bottom {
    border-bottom-color: transparent !important;
  }
  .hairlines-left {
    border-left-color: transparent !important;
  }
  .hairlines-right {
    border-right-color: transparent !important;
  }
  .hairlines-left::before,
  .hairlines-right::after,
  .hairlines-top::before,
  .hairlines-bottom::after {
    content: '';
    position: absolute;
    /*z-index: 0;*/
    /*bottom: -1px;*/
    /*left: 0;*/
    /*right: 0;*/
    /*height: 1px;*/
    background: #e1e1e1;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  .hairlines-left::before,
  .hairlines-right::after {
    top: 0;
    bottom: 0;
    width: 1px;
    -webkit-transform: scaleX(.5);
    transform: scaleX(.5);
  }
  .hairlines-left::before {
    left: -1px;
    right: auto;
  }
  .hairlines-right::after {
    right: -1px;
    left: auto;
  }
  .hairlines-top::before,
  .hairlines-bottom::after {
    left: 0;
    right: 0;
    height: 1px;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
  }
  .hairlines-top::before {
    top: -1px;
  }
  .hairlines-bottom::after {
    bottom: -1px;
  }
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg)
  }
  50% {
    -webkit-transform: rotate(180deg)
  }
  100% {
    -webkit-transform: rotate(360deg)
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg)
  }
  50% {
    -webkit-transform: rotate(180deg)
  }
  100% {
    -webkit-transform: rotate(360deg)
  }
}

/* 公用模块
========================================================================== */
/* 通用按钮模块 */
.m-btn {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  margin-right: .3rem;
  height: .72rem;
  line-height: .72rem;
  border: 1px solid #FF9B00;
  border-radius: .1rem;
  text-align: center;
  font-size: .36rem;
  color: #FF9B00;
  background: #fff;
}
.m-btn span {
  display: block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: -1px; /* 1像素误差 */
  /*background: #ccc;*/
}
.m-btn:last-of-type {
  margin-right: 0;
  border: none;
  color: #fff;
  background: #FF9B00;
}
.m-btn.disabled {
  /*box-shadow: 0 0 5px #bebebe;*/
  background-color: #D7D7D7;
}

/* 线路模块 */
.m-line {
  display: -webkit-box;
  display: box;
  position: relative;
  margin-bottom: .2rem;
  padding: 0 .3rem;
  height: 1.68rem;
  color: #2b2b2b;
  background: #fff;
}
.m-line *::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.m-line > .times {
  padding: 0 .06rem;
  height: .4rem;
  line-height: .4rem;
  overflow: hidden;
  border-bottom: 2px #FFD941 solid;
  font-size: .26rem;
}
.m-line > .times li {
  display: inline;
  margin: 0 .24rem;
}
.m-line > .info {
  -webkit-box-flex: 1;
  box-flex: 1;
  /*max-width: 50%;*/
  /*margin-right: 2rem;*/
  /*margin-left: .3rem;*/
  /*padding-left: .3rem;*/
  height: 100%;
  white-space: nowrap;
  overflow: auto;
  text-align: left;
}
.m-line > .info .time {
  display: block;
  margin-top: .2rem;
  min-height: 1em;
  line-height: 1;
  color: #2b2b2b;
  font-size: .34rem;
  letter-spacing: normal;
}
.m-line > .info .time small {
  margin-left: .1rem;
  font-size: .2rem;
}
.m-line > .info .place {
  margin-top: .13rem;
  /*font-size: .26rem;*/
  font-size: .3rem;
  line-height: 1;
  color: #2b2b2b;
  background: url(../image/icon-line.png) 0 50% no-repeat;
  background-size: .14rem 80%;
  /*border-left: .04rem #FF9C00 solid;*/
}
.m-line > .info .place .start,
.m-line > .info .place .end {
  /*margin-left: -.04rem;*/
  padding-left: .2rem;
  min-height: 1em;
  background: url(../image/icon-starting.png) 0 50% no-repeat;
  background-size: .14rem;
}
.m-line > .info .place .end {
  margin-top: .15rem;
  background-image: url(../image/icon-ending.png);
}
.m-line > .info .place .start.passing {
  background-image: url(../image/icon-passing.png);
}
.m-line > .info .place .start small {
  font-size: .24rem;
  color: #FF9C00;
  /*color: #656565;*/
}
.m-line > .info .place .start small::before {
  content: '-';
  margin: 0 .05rem;
}
.m-line > .info .place .start small:empty::before {
  display: none;
}
.m-line.past > .info .place {
  background-image: url(../image/icon-line-gray.png);
}
.m-line.past > .info .place .start {
  background-image: url(../image/icon-starting-gray.png);
}
.m-line.past > .info .place .start.passing {
  background-image: url(../image/icon-passing-gray.png);
}
.m-line.past > .info .place .end {
  background-image: url(../image/icon-ending-gray.png);
}
.m-line > .subinfo {
  /*-webkit-box-flex: 1;*/
  /*box-flex: 1;*/
  /*position: absolute;*/
  /*bottom: 0;*/
  /*right: .3rem;*/
  /*width: 1.6rem;*/
  /*max-width: 2rem;*/
  padding-left: .1rem;
  height: 100%;
  white-space: nowrap;
  overflow: auto;
  text-align: right;
  font-size: 0;
  /*background: rgba(255, 255, 255, .8);*/
  /*background: linear-gradient(to left, #fff 80%, transparent);*/
  background: linear-gradient(to left, #fff 80%, rgba(255, 255, 255, 0));
  letter-spacing: normal;
}
.m-line > .subinfo .labels, /* 包含折扣和线路编码 */
.m-line > .subinfo .line-card {
  position: absolute;
  top: .2rem;
  right: .3rem;
  /*display: inline-block;*/
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*height: .3rem;*/
  /*line-height: .36rem;*/
  line-height: 1;
  text-align: left;
  /*font-size: .2rem;*/
  font-size: 0;
  white-space: nowrap;
  /*overflow: hidden;*/
  /*text-overflow: ellipsis;*/
  /*background: #FF5000;*/
}
.m-line > .subinfo .labels .discount,
.m-line > .subinfo .labels .code,
.m-line > .subinfo .line-card {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin-right: .1rem;
  padding: 0 .1rem;
  min-width: 1rem;
  height: .3rem;
  overflow: hidden;
  text-align: center;
  font-size: .2rem;
  color: #fff;
  background: #FF5B00;
}
.m-line > .subinfo .labels .code,
.m-line > .subinfo .line-card {
  margin-right: 0;
  padding: 0 .07rem 0 .37rem;
  /*min-width: 1rem;*/
  /*border-radius: 2px;*/
  /*text-align: right;*/
  text-overflow: ellipsis;
  color: #2b2b2b;
  background: #ffd941 url(../image/icon-car-black.png) .1rem 50% no-repeat;
  background-size: .23rem;
}
.m-line > .subinfo .labels :last-child {
  margin-right: 0;
}
.m-line.past > .subinfo .line-card,
.m-line > .subinfo .line-card.join-status {
  color: #fff;
  background-color: #9c9c9c;
  background-image: url(../image/icon-car-white.png);
}
.m-line > .subinfo .line-card.join-status.not-join {
  color: #fff;
  background-color: #FF9C00;
  background-image: url(../image/icon-car-white.png);
}
.m-line > .subinfo .labels .discount::before,
.m-line > .subinfo .labels .code::before,
.m-line > .subinfo .line-card::before {
  content: '';
  display: block;
  width: 100%;
  height: 50%;
  margin-bottom: -.1rem; /* 字体高度一半 */
  /*background: #000;*/
}
.m-line > .subinfo .labels .discount:empty,
.m-line > .subinfo .labels .code:empty,
.m-line > .subinfo .line-card:empty {
  visibility: hidden;
}
.m-line > .subinfo .line-status,
.m-line > .subinfo .price {
  /*margin-top: .15rem;*/
  margin-top: .7rem;
  line-height: 1;
  font-size: .3rem;
  color: #FF9C00;
  /*font-weight: bold;*/
  text-align: right;
}
.m-line > .subinfo .price em {
  font-size: .36rem;
}
.m-line > .subinfo .price del,
.m-line > .subinfo .price small {
  margin-right: .2em;
  font-size: .2rem;
  font-weight: normal;
  /*color: #999;*/
  color: #656565;
}
.m-line > .subinfo .price del {
  margin-right: .12rem;
  font-size: .24rem;
}
.m-line > .subinfo .price .discount-price {
  font-size: .2rem;
  font-weight: normal;
}
.m-line > .subinfo .distance,
.m-line > .subinfo .join-count,
.m-line > .subinfo .order-price {
  margin-top: .12rem;
  font-size: .2rem;
  /*color: #999;*/
  color: #656565;
}

/* 行程日历 */
.m-line > .subinfo .line-status {
  visibility: hidden;
  /*margin-top: .7rem;*/
  height: .32rem;
  overflow: hidden;
  background: url(../image/icon-line-status.png) 100% 50% no-repeat;
  background-size: contain;
}
/*.m-line.past {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}*/
.m-line.past * {
  color: #7a7a7a !important;
}
.m-line.past > .subinfo .line-card {
  color: #fff !important;
  opacity: .7;
}
.m-line.going > .subinfo .line-status,
.m-line.soon > .subinfo .line-status {
  visibility: visible;
}
.m-line.going > .subinfo .line-status::after {
  content: '';
  display: inline-block;
  width: .32rem;
  height: 100%;
  background: url(../image/icon-going.png) 0 0 no-repeat;
  background-size: contain;
  -webkit-animation: spinner .8s infinite linear;
  animation: spinner .8s infinite linear;
}

/* 月票模块 */
.m-ticket {
  display: -webkit-box;
  display: box;
  position: relative;
  margin: .2rem .37rem .24rem;
  height: 2rem;
  line-height: 1;
  color: #2b2b2b;
  font-size: .2rem;
  background: #fff url(../image/bg-ticket-gray.png) -.17rem 0 no-repeat;
  background-size: auto 100%;
}
.m-ticket::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  right: -.02rem;
  height: 1px;
  border-bottom: 1px #aeaeae solid;
  border-radius: 4px;
  background: #9d9d9d;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .21);
  opacity: .57;
}
.m-ticket > .title {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  /*display: table;*/
  width: .65rem;
  height: 100%;
  letter-spacing: normal;
  /*padding-right: .05rem;*/
  /*-webkit-writing-mode: vertical-lr;*/
  /*-ms-writing-mode: lr-tb;*/
  /*writing-mode: vertical-lr;*/
  text-align: center;
  font-size: .3rem;
  line-height: 1.2;
  color: #fff;
  /*background: #FF9C00;*/
  background: #FF9C00 url(../image/bg-ticket-gray.png) -.17rem 0 no-repeat;
  background-size: auto 100%;
}
.m-ticket > .title span {
  /*display: table-cell;*/
  /*vertical-align: middle;*/
  position: absolute;
  top: 50%;
  left: .1rem;
  right: .15rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.m-ticket > .title::before {
  content: '';
  position: absolute;
  left: -.05rem;
  width: .05rem;
  height: 100%;
  /*transform: rotate(180deg);*/
  background: url(../image/bg-ticket-gray.png) 0 0 no-repeat,
    url(../image/bd-ticket-lt.png) 0 100% no-repeat;
  background-size: auto 100%, auto 100%;
}
.m-ticket > .info {
  -webkit-box-flex: 1;
  box-flex: 1;
  position: relative;
  padding: 0 .2rem;
  height: 100%;
  border-right: 1px #ccc dashed;
}
.m-ticket > .info .month {
  padding-top: .3rem;
  font-size: .3rem;
}
.m-ticket > .info .month .left {
  float: right;
}
.m-ticket > .info .count {
  position: absolute;
  bottom: .2rem;
  left: .2rem;
  right: .2rem;
  padding: .18rem .2rem;
  color: #666;
  background: rgba(0, 0, 0, .05);
}
.m-ticket > .info .count .total {
  margin-bottom: .1rem;
  font-size: .26rem;
}
.m-ticket > .subinfo {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*display: table;*/
  position: relative;
  width: 1.9rem;
  height: 100%;
  /*border-left: .05rem transparent solid;*/
  text-align: center;
}
.m-ticket > .subinfo::after {
  content: '';
  position: absolute;
  right: -.08rem;
  width: .08rem;
  height: 100%;
  background: url(../image/bg-ticket-gray.png) 100% 0 no-repeat,
    url(../image/bd-ticket-rt.png) 100% 100% no-repeat;
  background-size: auto 100%, auto 100%;
}
.m-ticket > .subinfo .inner {
  /*display: table-cell;*/
  /*vertical-align: middle;*/
  position: absolute;
  top: 50%;
  left: .05rem;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.m-ticket > .subinfo .price {
  margin-bottom: .1rem;
  font-size: .3rem;
  color: #FF9C00;
}
.m-ticket > .subinfo .price strong {
  font-size: .4rem;
  font-weight: normal;
}
.m-ticket > .subinfo .original {
  font-size: .2rem;
  color: #999;
}
.m-ticket:not(.ok) {
  color: #fff;
  background-color: #D4D4D4;
  background-image: url(../image/bg-ticket.png);
}
.m-ticket:not(.ok) > .title {
  background: #BEBEBE;
  background-image: url(../image/bg-ticket.png);
}
.m-ticket:not(.ok) > .title::before {
  background-image: url(../image/bg-ticket.png), url(../image/bd-ticket-lt-invalid.png?t=123);
}
.m-ticket:not(.ok) > .info {
  border-right-color: #fff;
}
.m-ticket:not(.ok) > .info .count {
  color: #999;
  background: rgba(0, 0, 0, .05);
}
.m-ticket:not(.ok) > .subinfo::after {
  background-image: url(../image/bg-ticket.png), url(../image/bd-ticket-rt-invalid.png?t=123);
  /*-webkit-transform: rotate(180deg);*/
  /*transform: rotate(180deg);*/
}
.m-ticket:not(.ok) > .subinfo .price,
.m-ticket:not(.ok) > .subinfo .original {
  color: #fff;
}
.m-ticket.full::before,
.m-ticket.buy::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  right: 1.46rem;
  width: 1.6rem;
  height: 1.48rem;
  background: url(../image/icon-ticket-full.png) 100% 0 no-repeat;
  background-size: contain;
}
.m-ticket.buy::before {
  background-image: url(../image/icon-ticket-buy.png);
}
.m-ticket.selected {
  color: #fff;
  background-color: #FF9C00;
  background-image: url(../image/bg-ticket.png);
}
.m-ticket.selected > .title {
  background: #F29400;
  background-image: url(../image/bg-ticket.png);
}
.m-ticket.selected > .title::before {
  background-image: url(../image/bg-ticket.png), url(../image/bd-ticket-lt-selected.png);
}
.m-ticket.selected > .info {
  border-right-color: #fff;
}
.m-ticket.selected > .info .count {
  color: #fff;
  background: rgba(0, 0, 0, .05);
}
.m-ticket.selected > .subinfo::after {
  background-image: url(../image/bg-ticket.png), url(../image/bd-ticket-rt-selected.png);
  /*-webkit-transform: rotate(180deg);*/
  /*transform: rotate(180deg);*/
}
.m-ticket.selected > .subinfo .price,
.m-ticket.selected > .subinfo .original {
  color: #fff;
}

/* 购票日历模块 */
.m-calendar {
  font-size: .26rem;
  color: #2b2b2b;
  background: #eee;
}
.m-calendar > .weeks {
  display: -webkit-box;
  display: box;
  height: .44rem;
  line-height: .44rem;
  border-bottom: 1px #ebebeb solid;
  /*background: #F6F6F6;*/
  background: #fff;
}
.m-calendar > .weeks > li {
  -webkit-box-flex: 1;
  box-flex: 1;
  text-align: center;
}
.m-calendar > .months > .item {
  /*margin-bottom: .1rem;*/
}
.m-calendar > .months > .item > .month {
  padding: 0 .3rem;
  height: .44rem;
  line-height: .44rem;
  background: #fff;
}
.m-calendar > .months > .item > .dates {
  border-bottom: 1px solid #F6F6F6;
  font-size: 0;
}
.m-calendar > .months > .item > .dates > li {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  /*margin: 1px 1px 0 0;*/
  padding: .18rem .1rem;
  /*width: calc((100vw - 6px) / 7);*/
  width: 14.28571429%;
  /*width: calc(100vw / 7);*/
  height: 1.1rem;
  border: 1px #F6F6F6 solid;
  border-width: 1px 1px 0 0;
  border-radius: .05rem;
  line-height: 1;
  font-size: .2rem;
  color: rgba(43, 43, 43, .2);
  background: #e8e8e8;
  vertical-align: top;
}
.m-calendar > .months > .item > .dates > li time {
  position: relative;
  top: -.04rem;
  font-size: .26rem;
  /*font-weight: bold;*/
}
.m-calendar > .months > .item > .dates > li .status {
  /*float: right;*/
  position: absolute;
  right: .1rem;
  color: #656565;
  /*font-size: .2rem;*/
}
.m-calendar > .months > .item > .dates > li .status:empty {
  display: none;
}
.m-calendar > .months > .item > .dates > li .price {
  display: block;
  margin-top: .08rem;
  text-align: right;
  font-size: .24rem;
  color: #656565;
}
.m-calendar > .months > .item > .dates > li .discount {
  position: absolute;
  left: .15rem;
  right: .05rem;
  bottom: .05rem;
  height: .24rem;
  line-height: .24rem;
  text-align: center;
  font-size: .16rem;
  color: #fff;
  background: #FF5000;
}
.m-calendar > .months > .item > .dates > li .discount::before {
  content: '';
  position: absolute;
  left: -.1rem;
  height: 100%;
  width: .1rem;
  background: url(../image/icon-tag-discount.png) 0 50% no-repeat;
  background-size: cover;
}
.m-calendar > .months > .item > .dates > li:nth-child(7n) {
  /*margin-right: 0;*/
  border-right: 0;
}
/*.m-calendar > .months > .item > .dates > li:empty,*/
/*.m-calendar > .months > .item > .dates > li.invalid,*/
.m-calendar > .months > .item > .dates > li.out,
.m-calendar > .months > .item > .dates > li.past {
  /*color: rgba(43, 43, 43, .2);*/
  /*visibility: hidden;*/
  /*background: #e8e8e8;*/
}
.m-calendar > .months > .item > .dates > li.out * {
  display: none;
}
.m-calendar > .months > .item > .dates > li.valid,
.m-calendar > .months > .item > .dates > li.full,
.m-calendar > .months > .item > .dates > li.buy,
.m-calendar > .months > .item > .dates > li.refund {
  color: #2b2b2b;
  background: #fff;
  cursor: pointer;
}
.m-calendar > .months > .item > .dates > li.full .status {
  color: #FE7562;
}
.m-calendar > .months > .item > .dates > li.buy .status {
  color: #01a9e8;
}
.m-calendar > .months > .item > .dates > li.refund .status {
  color: #FF9C00;
}
.m-calendar > .months > .item > .dates > li.selected {
  color: #fff;
  background: #FF9C00;
}
.m-calendar > .months > .item > .dates > li.selected * {
  color: inherit !important;
}

/* 选择起终点模块 */
.m-select_site .panel {
  position: relative;
  border: 1px solid #d8d8d8;
  border-radius: .1rem;
  background-color: #ffffff;
  margin-top: .46rem;
}
.m-select_site .on_site,
.m-select_site .off_site {
  position: relative;
}
.m-select_site .on_site .left_image,
.m-select_site .off_site .left_image {
  position: absolute;
  top: 0;
  left: 0;
  width: .27rem;
  height: .38rem;
  margin: .34rem .2rem .32rem;
  background: url(../image/icon_site.png) 0 0 no-repeat;
  background-size: .4rem 1.65rem;
}
.m-select_site .on_site .left_image {
  background-image: url(../image/icon_site.png);
  background-position: 0 -.46rem;
}
.m-select_site .on_site span,
.m-select_site .off_site span {
  font-size: .3rem;
  color: #ababab;
}
.m-select_site .on_site div, .m-select_site .off_site div {
  margin-left: .12rem;
  margin-right: .9rem;
  padding-left: .52rem;
  padding-right: .1rem;
  width: auto;
  height: 1.02rem;
  line-height: 1rem; /*color:#b6b6b6*/
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.m-select_site .on_site .close_location,
.m-select_site .off_site .close_location {
  width: .7rem;
  height: 1.02rem;
  position: absolute;
  bottom: 0;
  right: .69rem;
  background: url(../image/login_edit_delete.png)center center no-repeat;
  background-size: .3rem .3rem;
  border: 0;
  margin: 0;
  padding: 0;
}
.m-select_site .site_replace {
  width: .41rem;
  height: .36rem;
  background: url(../image/icon_site.png) 0 -.92rem no-repeat;
  background-size: .4rem 1.65rem;
  position: absolute;
  right: .025rem;
  top: .05rem;
  margin: .8rem .2rem;
  z-index: 1;
}

/* 消息弹出框 */
#ddb_toast {
  display: none;
  position: absolute;
  z-index: 9999;
  color: #fff;
}
#ddb_toast {
  top: 70%;
  font-size: 1em;
  text-align: center;
  width: 100%;
  left: 0;
}
#ddb_toast>a {
  padding: 10px 15px;
  background: #222;
  display: inline-block;
  max-width: 90%;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}

/* 弹层遮罩 */
#mask { position: fixed; top: 0; left: 0; width: 100%; height: 100%; /* background: rgba(0,0,0,.5); */ z-index: 999; }
/* 支付成功，首次登陆成功，首单购买成功 */
#alert_success { position: fixed; top: 50%; left: 50%; width: 5.64rem; padding: .46rem 0 .3rem 0; -webkit-transform: translate3d(-50%,-50%,0)  scale(.8); transform: translate3d(-50%,-50%,0)  scale(.8); z-index: 999; background: #fff; text-align: center; border-radius: .2rem; }
#alert_success .alert_close {display: block; content: ''; position: absolute; top: -.58rem; right: 0; width: .32rem; height: .32rem; background: url(../image/icon_delete.png)0 0 no-repeat; background-size: .32rem .32rem; }
#alert_success .icon_success { width: 1.5rem; height: 1.5rem; vertical-align: middle;}
#alert_success .icon_pic_1 { width: 3.06rem; height: 4.53rem; padding-left: .48rem; vertical-align: middle;}
#alert_success .tips_success { margin-top: .4rem; font-size: .34rem; line-height: .34rem; color: #2b2b2b;}
#alert_success .tips_text { margin: .2rem 0; font-size: .24rem; line-height: .24rem; color: #7c7c7c;}
#alert_success .tips_text span { color: #ff5000;}
#alert_success .btn_success { width: 3.88rem; height:.72rem; margin: .32rem auto 0; background: #ff9402; color: #fff; font-size: .36rem; line-height: .72rem; border-radius: .1rem;}
#alert_success:after {display: block; content: ''; position: absolute; top: -.26rem; right: .15rem; width: .02rem; height: .3rem; background: #fff; }

/* @media screen and (max-height: 480px) { 当屏幕高度小于480px时，应用下面的CSS样式
  #alert_success {
  -webkit-transform: translate3d(-50%,-50%,0)  scale(.8);   transform: translate3d(-50%,-50%,0)  scale(.8);
  }
} */

/* 乘车/简单行程页 */
html.itinerary .m-line,
html.wait-bus .m-line {
  margin-bottom: 0;
  border-bottom: 0;
}
.show-ticket-box {
 /*  padding: .14rem .3rem 0; */
  padding: 0 .3rem .14rem;
  background: #fff;
}
.show-ticket-box .compensate-status {
  height: .56rem;
  line-height: .56rem;
  overflow: hidden;
  text-align: right;
  background: #fff;
}
/* .show-ticket-box  */.compensate-status a {
  display: inline-block;
  color: #ff9b00;
  font-size: .2rem;
  text-decoration: underline;
}
/* .show-ticket-box  */.compensate-status a::before,.tip_ico {
  content: '';
  display: inline-block;
  width: .25rem;
  height: .25rem;
  /*height: 100%;*/
  margin-right: .06rem;
  margin-bottom: .05rem;
  background: url(../image/icon_remind.png) 0 50% no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  vertical-align: middle;
}
/* .show-ticket-box  */.compensate-status a.tel::before {
  background-image: url(../image/icon-tel.png);
}

/* 公用页脚 */
#navbar {
  display: -webkit-box;
  display: box;
  position: fixed;
  z-index: 990;
  left: 0;
  right: 0;
  bottom: 0;
  padding: .08rem 0;
  /*height: .94rem;*/
  border-top: 1px solid #e1e1e1;
  letter-spacing: normal;
  background: #f9f9f9;
  /*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#F2F2F6));*/
  /*background: gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#F2F2F6));*/
}
#navbar > a {
  -webkit-box-flex: 1;
  box-flex: 1;
  display: block;
  text-align: center;
  line-height: 1;
  font-size: .24rem;
  color: #949494;
}
#navbar > a::before {
  content: '';
  display: block;
  /*margin-bottom: .08rem;*/
  width: .42rem;
  height: .5rem;
  background: url(../image/footer_icon.png) 0 0 no-repeat;
  background-size: 1.5rem 1.4rem;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
#navbar > a.search::before {
  background-position: 0 0;
}
#navbar > a.wait-bus::before {
  background-position: -.5rem 0;
}
#navbar > a.mine::before {
  background-position: -1rem 0;
}
#navbar > a.active {
  color: #ff9c00;
}
#navbar > a.active.search::before {
  background-position: 0 -.7rem;
}
#navbar > a.active.wait-bus::before {
  background-position: -.5rem -.7rem;
}
#navbar > a.active.mine::before {
  background-position: -1rem -.7rem;
}

.explain {
  display: -webkit-box;
  display: box;
  margin: 0 .3rem;
  height: .62rem;
  line-height: .62rem;
  border-top: 1px solid #ebebeb;
  font-size: .2rem;
  background: #fff;
}
.explain .explain_link {
  -webkit-box-flex: 1;
  box-flex: 1;
  text-align: left;
}
.explain .explain_link a {
  display: inline-block;
  color: #FF9B00;
  text-decoration: underline;
}
.explain .explain_link a::before {
  content: '';
  display: inline-block;
  width: .24rem;
  height: .24rem;
  margin-right: .1rem;
  background: url(../image/icon-compensate.png) 0 no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  vertical-align: -2px;
}
.explain .explain_text {
  text-align: right;
}

/* 强迫症红点 */
.red_point {
  display: none;
  position: absolute;
  top: .1rem;
  right: .82rem;
  width: .1rem;
  height: .1rem;
  background: url(../image/icon_point.png) center center no-repeat;
  background-size: contain;
}

/* 微信分享提示弹层 */
#shareit {
  position: fixed;
  z-index: 9999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: right;
  padding-top: 1.25rem;
  padding-right: 2.7rem;
  line-height: 1;
  color: #fff;
  font-size: .4rem;
  font-weight: bold;
  background: rgba(0, 0, 0, .75);
  -webkit-user-select: none;
}
#shareit::before {
  content: '';
  position: absolute;
  right: .4rem;
  top: .2rem;
  width: 2.09rem;
  height: 1.36rem;
  background: url(../image/share_tip_arrow.png) no-repeat;
  background-size: contain;
}

/* 高德地图－线路详情页 */
html.line-detail .ddbUi-lineMap {
  position: absolute;
  top: 2.3rem;
  bottom: .88rem;
  left: 0;
  right: 0;
  width: auto;
  height: auto;
  border: 1px solid #eee;
  border-width: 1px 0;
}
html.line-detail .ddbUi-lineMap .map {
  position: absolute;
  top: 0;
  bottom: 0;
  height: auto;
  -webkit-transition: top .5s ease 0s;
  transition: top .5s ease 0s;
}
html.line-detail .ddbUi-lineMap .leftSide {
  position: absolute;
  z-index: 141;
  left: 0;
  -webkit-transition: height .5s ease 0s;
  transition: height .5s ease 0s;
  width: 6.4rem;
  height: 2.24rem;
  background-color: rgba(255, 255, 255, .8);
  color: #858585;
}
html.line-detail .ddbUi-lineMap.close .leftSide {
  height: 0;
}
html.line-detail .ddbUi-lineMap .leftSide .point_wrap {
  width: 6.4rem;
  height: 100%;
  overflow: auto;
  padding: 0;
  display: -webkit-box;
  display: box;
}
html.line-detail .ddbUi-lineMap .leftSide .point {
  width: .4rem;
  height: auto;
  padding: 0;
  -webkit-box-flex: 1;
  box-flex: 1;
  position: relative;
}
html.line-detail .ddbUi-lineMap .leftSide .isEnd_icon i {
  display: block;
  position: absolute;
  top: .855rem;
  left: -.375rem;
  width: .75rem;
  height: .5rem;
  background: url(../image/line_1.png) 0 0 no-repeat;
  background-size: .75rem .5rem;
}
html.line-detail .ddbUi-lineMap .leftSide .address_wrap {
  padding-top: 1.1rem;
  margin: 0 auto;
  line-height: normal;
  height: auto;
  position: relative;
  text-align: center;
}
html.line-detail .ddbUi-lineMap .leftSide .endPass,
html.line-detail .ddbUi-lineMap .leftSide .end {
  padding-top: .66rem;
}
html.line-detail .ddbUi-lineMap .leftSide .icon {
  position: relative;
  background: url(../image/address2_sprites.png) no-repeat 0 0;
  -webkit-background-size: 1.84rem .92rem;
  background-size: 1.84rem .92rem;
  width: .46rem;
  height: .46rem;
  vertical-align: middle;
  margin-right: 0;
  font-size: .24rem;
  color: #b4b4b4;
  line-height: .46rem;
  text-align: center;
}
html.line-detail .ddbUi-lineMap .leftSide .icon::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: .02rem;
  height: .53rem;
  background: #01a9e8;
  z-index: -1;
}
html.line-detail .ddbUi-lineMap .leftSide .endPass .icon::after,
html.line-detail .ddbUi-lineMap .leftSide .end .icon::after {
  bottom: auto;
  top: 50%;
}
html.line-detail .ddbUi-lineMap .leftSide .endPass .icon::after,
html.line-detail .ddbUi-lineMap .leftSide .end .icon::after {
  background: #e8795e;
}
html.line-detail .ddbUi-lineMap .leftSide .address_wrap .address {
  position: absolute;
  bottom: .64rem;
  left: 50%;
  width: 80%;
  max-height: .72rem;
  height: auto;
  padding: .05rem;
  display: block;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #01a9e8;
  border-radius: .1rem;
  color: #01a9e8;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #fff;
  overflow: auto;
}
html.line-detail .ddbUi-lineMap .leftSide .endPass .address,
html.line-detail .ddbUi-lineMap .leftSide .end .address {
  bottom: -.2rem;
  -webkit-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);
}
html.line-detail .ddbUi-lineMap .leftSide .address_wrap.endPass .address,
html.line-detail .ddbUi-lineMap .leftSide .address_wrap.end .address {
  border-color: #e8795e;
  color: #e8795e;
}
html.line-detail .ddbUi-lineMap .leftSide .address_wrap::before,
html.line-detail .ddbUi-lineMap .leftSide .address_wrap::after {
  display: block;
  content: '';
  position: absolute;
  top: 1.33rem;
  left: 50%;
  margin-top: -.025rem;
  width: 50%;
  height: .06rem;
  background: #bdbdae;
  z-index: -1;
}
html.line-detail .ddbUi-lineMap .leftSide .endPass::before,
html.line-detail .ddbUi-lineMap .leftSide .endPass::after,
html.line-detail .ddbUi-lineMap .leftSide .end::before,
html.line-detail .ddbUi-lineMap .leftSide .end::after {
  top: .88rem;
}
html.line-detail .ddbUi-lineMap .leftSide .address_wrap::after {
  left: 0;
}
html.line-detail .ddbUi-lineMap .leftSide .isEnd_icon .address_wrap::after {
  left: 10%;
  width: 40%;
}
html.line-detail .ddbUi-lineMap .leftSide .isBegin_icon .address_wrap::before {
  width: 40%;
}
html.line-detail .ddbUi-lineMap .leftSide .isEnd_icon + .isBegin {
  background: red;
}
html.line-detail .ddbUi-lineMap .point_wrap > div:first-child .address_wrap::after,
html.line-detail .ddbUi-lineMap .point_wrap>div:last-child .address_wrap::before {
  display: none;
}
html.line-detail .ddbUi-lineMap .leftSide .beginPass .icon {
  background-position: -.92rem 0;
}
html.line-detail .ddbUi-lineMap .leftSide .endPass .icon {
  background-position: -1.38rem 0;
}
html.line-detail .ddbUi-lineMap .leftSide .end .icon {
  background-position: -.46rem 0;
  color: #ff9402;
}
html.line-detail .ddbUi-lineMap .leftSide .pointSelected {
  color: #2b2b2b;
  background: none;
}
html.line-detail .ddbUi-lineMap .leftSide .pointSelected .icon {
  color: #fff;
}
html.line-detail .ddbUi-lineMap .leftSide .pointSelected .icon {
  background-position-y: -.46rem;
}
html.line-detail .ddbUi-lineMap .leftSide .pointSelected .address {
  color: #fff;
  background: #01a9e8;
}
html.line-detail .ddbUi-lineMap .leftSide .pointSelected .endPass .address,
html.line-detail .ddbUi-lineMap .leftSide .pointSelected .end .address {
  color: #fff;
  background: #e8795e;
}
html.line-detail .ddbUi-lineMap .leftSide .btn {
  position: absolute;
  left: 0;
  bottom: -.52rem;
  top: auto;
  width: 6.4rem;
  height: .52rem;
  padding: 0;
  border: none;
  border-radius: 0;
  background: rgba(255, 255, 255, .8) url(../image/icon_collapse.png) center no-repeat;
  background-size: .15rem .2rem;
  border-top: 1px solid #d8d8d8;
}
html.line-detail .ddbUi-lineMap.close .leftSide .btn {
  background: rgba(255, 255, 255, .8) url(../image/icon_dropdown.png) center no-repeat;
  background-size: .15rem .2rem;
}
html.line-detail .ddbUi-lineMap .leftSide .orn {
  position: absolute;
  top: -.025rem;
  left: 0;
  height: .05rem;
  width: 6.4rem;
  background: url(../image/icon_point_small.png) 0 0 repeat-x;
  background-size: .15rem .05rem;
}
html.line-detail .ddbUi-lineMap .leftSide .orn::after,
html.line-detail .ddbUi-lineMap .leftSide .orn::before {
  display: block;
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: .13rem;
  height: .29rem;
  margin-top: -.145rem;
  background: #D8D8D8;
  border-radius: 0 .145rem .145rem 0;
}
html.line-detail .ddbUi-lineMap .leftSide .orn::before {
  left: auto;
  right: 0;
  border-radius: .145rem 0 0 .145rem;
}