@charset 'utf-8';

body{background: #eee;color:#2b2b2b;}

.orange{color: #ff9c00;}
.f36{font-size: 0.36rem;}
.wrapper,.select_wrap{padding-bottom: 0.95rem;}

.dis_box
{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
}
.dis_box .two
{
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
}
.buy_tab
{
  background: #F8F8FA;
  width: 3.6rem;
  height: 0.6rem;
  margin: 0.12rem auto 0;
  border: solid .02rem #ff9c00;
  border-radius: 0.1rem;
  overflow: hidden;
}
.buy_tab h3
{
  color: #ff9c00;
  height: 0.6rem;
  line-height: 0.6rem;
  text-align: center;
}
.buy_tab h3.active
{
  background: #ff9c00;
  color: #fff;
}
.line_title
{
  background: #d7d7d7;
  text-align: center;
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.3rem;
  color: #2b2b2b;
}
.line_model
{
  background: #fff url(../image/city/city_bg.png) repeat-x center bottom;
  background-size: 100%;
  height:2.62rem;
  border-bottom: 0.18rem solid #fff;
  margin-bottom: 0.1rem;
}
.line_model:last-child
{
  margin-bottom: 0;
}
.line_info
{
  height: 0.6rem;
  border-bottom: solid 1px #ebebeb;
  line-height: 0.6rem;
  margin: 0 0.3rem;
  position: relative;
}
.line_info .name_title,.line_info .price
{
  font-size: 0.3rem;
}
.line_info .name_title
{
  width: 4.3rem;
  overflow: hidden;
  word-break: keep-all;
  white-space: nowrap;
  position: relative;
}
.line_info .name
{
  width: auto;
  position: absolute;
}
.name_animate
{
  -webkit-animation: marquee 10s linear infinite;
  -moz-animation: marquee 10s linear infinite;
  -ms-animation: marquee 10s linear infinite;
  -o-animation: marquee 10s linear infinite;
  animation: marquee 10s linear infinite;
}
.line_info .price
{
  width: 1.5rem;
  text-align: right;
}
/*标题跑马灯*/
@-webkit-keyframes marquee {
  0%,5% { left: 0; }
  50% { left: -50%; }
  100% { left: -100%; }
}
@-moz-keyframes marquee {
  0%,5% { left: 0; }
  50% { left: -50%; }
  100% { left: -100%; }
}
@-ms-keyframes marquee {
  0%,5% { left: 0; }
  50% { left: -50%; }
  100% { left: -100%; }
}
@-o-keyframes marquee {
  0%,5% { left: 0; }
  50% { left: -50%; }
  100% { left: -100%; }
}
@keyframes marquee {
  0%,5% { left: 0; }
  50% { left: -50%; }
  100% { left: -100%; }
}

.line_info h3.price
{
  position: absolute;
  right: 0;
}
.line_details
{
  padding: 0 0.17rem;
  color: #656565;
}
.line_details .line_name
{
  width: 4.62rem;
  margin-top: 0.3rem;
  display: inline-block;
  position: relative;
}
.line_name ul
{
  height: 1.68rem;
  border-top: solid .04rem #c4c4c4;
  /*max-width: 2.1rem;*/
}
.line_name .start
{
  position: absolute;
  top: 0;
  left: 0;
}
.line_name li
{
  display: table-cell;
  /*border-top: solid .04rem #c4c4c4;*/
  padding: 0.2rem 0 0 ;
  position: relative;
  font-size: 0.26rem;
  line-height: 1.18;
  vertical-align: top;
  letter-spacing: .03rem;
  word-break: break-word;
  width: .7rem;
  text-align: center;
}
.line_name li .ico
{
  width: 0.2rem;
  margin: 0 auto;
  height: 0.2rem;
  display: block;
  background: url(../image/city/icon_blue.png) no-repeat center;
  background-size: 100%;
  position: absolute;
  top: -0.14rem;
  left: 50%;
  margin-left: -.1rem;
  z-index: 888;
}
.white_bg,.white_bg_right
{
  position:absolute;
  top:-.2rem;
  width:.199999rem;
  height:.3rem;
  background:#fff;
  z-index: 99;
  left: 0;
}
.white_bg_right
{
  width: .21rem;
  right: 0;
  left: auto;
}
.line_name .start li:first-child .ico,.line_name .end li:last-child .ico
{
  width: 0.36rem;
  margin-left: -0.18rem;
  height: 0.36rem;
  top: -0.22rem;
}
.line_name .start li:first-child .ico
{
  background: url(../image/city/icon_begin.png) no-repeat center;
  background-size: 100%;
}
.line_name li span
{
  display: inline-block;
  width: 0.26rem;
  vertical-align: top;
  max-width: .58rem;
  /*max-height: 1.4rem;*/
  overflow: hidden;
  text-align: center;
}
.line_name li span .more_txt
{
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  display: inline-block;
  position: relative;
  left: 50%;
  margin-left: -.1rem;
}
.pl6
{
  padding-left: 0.06rem;
}
.line_name .end
{
  position: absolute;
  top: 0;
  right: 0;
}
.line_name .end li .ico
{
  background: url(../image/city/icon_red.png) no-repeat center;
  background-size: 100%;
}
.line_name .end li:last-child .ico
{
  background: url(../image/city/icon_end.png) no-repeat center;
  background-size: 100%;
}
.solid
{
  width: 84%;
  margin: 0 auto;
  border-top: solid .04rem #c4c4c4;
}
.dotted
{
  border-top: dotted .04rem #c4c4c4;
}
.line_details .line_more
{
  float: right;
  text-align: right;
  padding-top: 0.26rem;
  padding-right: .17rem;
  display: inline-block;
  vertical-align: top;
  line-height: 1;
}
.line_details .line_more span
{
  display: block;
  font-size: 0.2rem;
  padding-bottom: 0.1rem;
}
/*班次选择*/
.fl{float: left;}
.fr{float: right}
.showArea
{
  background: #fff;
  margin: .2rem 0 0;
  padding: 0 .3rem;
}
.showArea li
{
  height:.87rem;
  line-height:.87rem;
  border-bottom:1px solid #ebebeb;
  font-size: .3rem;
  vertical-align: middle;
  position: relative;
}
.showArea li:last-child
{
  border-bottom: none;
}
.showArea li .ico
{
  width: .15rem;
  height: .27rem;
  background: url(../image/icon_right.png) no-repeat center right;
  background-size: 100%;
  position: absolute;
  top: 50%;
  margin-top: -.135rem;
  right: 0;
}
.showArea li .name
{
  position: absolute;
  top: 0;
  left: 0;
}
.showArea li .right_info
{
  position: absolute;
  top: 0;
  right: .41rem;
  color: #656565;
  max-width: 4rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: right;
  padding-right: 1px;
}
.showArea .num .right_info,.showArea .price .right_info
{
  right: 0;
}
.showArea .num .right_info
{
  top: 0.15rem;
  border:1px solid #ff9c00;
  border-radius: .08rem;
  /*width: 1.62rem;
  height: .54rem;
  line-height: .54rem;*/
  overflow: hidden;
  background: #ff9c00;
  box-sizing: border-box;
}
.showArea .num .right_info span
{
  display: block;
  height: .54rem;
  text-align:center;
  font-size: .5rem;
  line-height: .54rem;
  color: #fff;
  background: #ff9c00;
  width: .54rem;
  float: left;
}
.showArea .num .right_info span .icon
{
  width: .54rem;
  height: .54rem;
  margin: 0 auto;
  background: url(../image/city/icon_minus.png) no-repeat center;
  background-size: .31rem;
  display: block;
}
.showArea .num .right_info span .add
{
  background: url(../image/city/icon_add.png) no-repeat center;
  background-size: .31rem;
}
.showArea .num .right_info span.curr_num
{
  color: #ff9c00;
  background: #fff;
  font-size: .4rem;
}
.showArea .price .right_info span
{
  color: #FF5C00;
}
.select_wrap .eleph,.eleph
{
  width: 2.72rem;
  height: 2.11rem;
  margin: 0 auto;
  padding: .5rem 0 .3rem;
}
.select_wrap .eleph img,.eleph img
{
  width: 100%;
  height: 100%;
}
.total
{
  text-align: center;
  font-size: 0.24rem;
  color: #656565;
  position: fixed;
  bottom: 1.83rem;
  width: 100%;
  height: .6rem;
  line-height: 1;
}
.total .price
{
  color: #FF5C00;
  font-size: .42rem;
  padding-left: .1rem;
}
.total .price font
{
  font-size: .6rem;
  padding-right: .05rem;
}
.submit
{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: .12rem .3rem .1rem;
  border-top: 1px #EDEDED solid;
  background: #fff;
}
.m_btn
{
  display: block;
  background: #ff5000;
  height: .72rem;
  line-height: .72rem;
  border: none;
  border-radius: .1rem;
  text-align: center;
  font-size: .36rem;
  color: #fff;
  letter-spacing: .01rem;
}
/*选择弹窗*/
.fixed_bg
{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
}
.dialog_wrapper
{
  position:fixed;
  bottom:0;
  width:100%;
  height:5.56rem;
  background-color:#fff;
}
.dialog_wrapper .wrapper_title
{
  height:.96rem;
  line-height:.96rem;
  text-align:center;
  background-color: #ff9c00;
  margin:auto;
  color: #fff;
  padding: 0 .3rem;
  font-size: .36rem;
}
.dialog_wrapper .wrapper_title span
{
  font-size: .3rem;
}
.dialog_wrapper .wrapper_con
{
  position: relative;
  height: 4.5rem;
  overflow: hidden;
  display:-moz-box;
  display:-webkit-box;
  display:box;
}
.scroll_con
{
  width: 60%;
  height: 4.5rem;
  overflow: hidden;
  text-align: center;
  -moz-box-flex:1;
  -webkit-box-flex:1;
  box-flex:1;
}
.scroll_con2
{
  width: 40%;
}
.scroll_con_all
{
  width: 100%;
}
.dialog_wrapper li
{
  height:.905rem;
  line-height:.905rem;
  transition:opacity .1s, transform .1s;
  font-size: .4rem;
}
.dialog_wrapper li .s_time
{
  display: inline-block;
  width: 50%;
  text-align: center;
}
.dialog_wrapper li .s_time2
{
  text-align: right;
}
.active_bg
{
  height: .9rem;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: -.46rem;
  border: 1px solid #ebebeb;
}
.dialog_wrapper li[ac="0"]
{
  opacity:1;
}
.dialog_wrapper li[ac="1"]
{
  opacity:0.6;
  font-size: .3rem;
}
.dialog_wrapper li[ac="2"]
{
  opacity:0.4;
  font-size: .3rem;
}
.dialog_wrapper li[ac="3"]
{
  opacity:0.2;
  font-size: .3rem;
  /*-webkit-transform:scale(0.7);
  -ms-transform:scale(0.7);
  -o-transform:scale(0.7);
  transform:scale(0.7);*/
}
/*班次详情页*/
.hide
{
  display: none;
}
.city_bg
{
  width: 100%;
  height: 2.3rem;
  background: #fff url(../image/city/city_bg.png) no-repeat center .25rem;
  background-size: 100%;
}
.nobg
{
  background: none;
}
/*.m-line-city > .info .time
{
  color: #656565;
}*/
/*.m-line-city > .info .time small
{
  padding-left: .1rem;
  font-size: .2rem;
}*/
/*.m-line-city > .info .place .start small
{
  font-size: .2rem;
}*/
/*.m-line-city > .info .place .start, .m-line-city > .info .place .end
{
  font-size: .3rem;
}*/
/*.m-line-city > .subinfo .price
{
  font-size: .36rem;
  font-weight: normal;
  margin-top: .65rem;
}*/
/*.m-line-city > .subinfo .price small
{
  font-size: .3rem;
  color: #ff9c00;
  margin-right: 0;
}*/
#page-home footer .m-btn
{
  font-size: .36rem;
}
#eticket_section .dateTime-city .num
{
  height: .6rem;
}
.number
{
  width: 1.75rem;
  height: .6rem;
  line-height: .6rem;
  margin: -.6rem auto 0;
  text-align: center;
  font-size: .44rem;
  border-radius: .18rem;
}
.number span
{
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.3);
  border-radius: .18rem;
}
.process .title  a
{
  color: #999;
  display: block;
  width: 100%;
  height: 100%;
}
.refund_num
{
  margin-top: 0;
}